.comment_popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background: rgba(22, 22, 22, 0.5);
}
.comment_box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 5px 7px  10px black;
    border-radius: 10px;
    width: 560px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.comment_box h5{
    color: black;
    font-size: 15px;
    padding: 0%;
    
}
.message{
margin-top: -1%;
  width: 550px;
  height:430px;
  margin-left: 1%;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid black;
  
}
.input-comment_container {
    display: flex;
    width: 100%;
    padding-bottom: 5px;
    margin-top: 1.5%;
    text-align: center;
    justify-content: center;

  }
  
  .send_icon {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 900;
  width: 25px;
 
  text-align: center;
  }
  #send{
    padding: 7px;
width: 10%;
text-align: center;
justify-content: center;
justify-items: center;
align-items: center;
display: flex;
    border-top-right-radius: 20px ;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 20px;
    background-color: dodgerblue;
  }
  .send_icon:hover {
   color: #fff;
  }
  .input-comment_field {
  width: 85%;
  padding: 5px;
  border-radius: 0%;
  outline: none;
  height: 40px;
  }
  
  .input-comment_field:focus {
    border: 2px solid dodgerblue;
  }
  #close_comment{
    color: black;
font-size: 20px; 
margin-top: -1%;
margin-left: 1360%;
  }
  #close_comment:hover{
    color: rgb(255, 0, 0);

  }
  #comment_head{
    display: flex;
    width: 90%;
    padding-left: 10%;
    text-align: center;
    justify-content: center;
    
  }
 
 #all_comments{
    margin-top: 2%;
    padding: 5px;
    
    box-shadow: 5px 3px  5px rgb(124, 124, 124);

 }
 
 #all_comments h4{
color: black;
font-size: 15px;
text-align: start;
margin-top: 4%;
overflow-wrap: break-word;
letter-spacing: normal;

 } 

 #all_comments h3{
  color: rgb(100, 98, 98);
font-size: 15px;
text-align: start;
padding-left: 3px;
letter-spacing: normal;

 } 
 #comment_user_icon{
    font-size: 20px;
    color: rgb(34, 192, 34);
 }
 #comment_user_name{
    padding-left: 5px;  
 }
 
 
 #edit_icon_for_comment{
    color: black;
    font-size: 15px;
    margin-top: -4%;
    display: flex;
   
    margin-left: 85%;
    
 }
 #edit_icon_for_comment:hover{
    color: rgb(27, 226, 20);
    font-size: 16px;
   
 }
 #delete_icon_for_comment{
  margin-top: -2.5%;
  font-size: 15px;
    color: black;
    margin-left: 93%;
    display: flex;
 }
 #delete_icon_for_comment:hover{
    color: red;
    font-size: 16px;
 }
 .message h2{
  color: red;
margin-top: 30%;
display: none;

 }
 #comment_post_time{
  font-size: 10px;
 }
#like{
  margin-left: -2%;
  font-size: 15px;
  color: gray;
}
#like1{
  margin-left: -2%;
  font-size: 15px;
  color: blue;
}
#like1:hover{
  font-size: 16px;
  color: rgb(76, 76, 253);
}
#like:hover{
font-size: 16px;
color: rgb(43, 41, 41);
}
#dislike{
  font-size: 15px;
  margin-left: 5%;
  color: gray;
}
#dislike1{
  font-size: 15px;
  margin-left: 5%;
  color: blue;
}
#dislike1:hover{
  font-size: 16px;
  color: rgb(75, 75, 255);
}
#dislike:hover{
font-size: 16px;
color: rgb(43, 41, 41);
}
#report{
  font-size: 15px;
  margin-left: 60%;
  color: grey
}
#report1{
  font-size: 15px;
  margin-left: 60%;
  color:red;
}

#report:hover{
  font-size: 16px;
color: rgb(43, 41, 41);
}
#report1:hover{
  font-size: 16px;
color: rgb(238, 91, 91);
}
#total_likes{
color: black;
font-size: 13px;
}
#total_dislikes{
color: black;
font-size: 13px;
}
#lik-dis{
  margin-bottom: 1%;
  
}
#reports{
color: black;
font-size: 10px;
}
@media (max-width: 940px) {

    .comment_box{       
        top: 50%;
        left: 50%;
        background: #fff;
        box-shadow: 5px 7px  10px black;
        border-radius: 10px;
        width: 400px;
         
    }
    .comment_box h5{
        color: black;
        font-size: 13px;
        padding: 0%;
        
    }
    .message{
    margin-top: -1%;
      width: 390px;
      height:330px;
      
      overflow: hidden;
      overflow-y: scroll;
    }
    .input-comment_container {
        display: flex;
        width: 100%;
        margin-top: 1.5%;
        
        text-align: center;
        justify-content: center;
    
      }
      
      .send_icon {
      color: rgb(0, 0, 0);
      font-size: 17px;
      font-weight: 900;
      width: 25px;
      text-align: center;
      }
      #send{
        padding: 7px;
        background-color: dodgerblue;
      }
      .send_icon:hover {
       color: #fff;
      }
      .input-comment_field {
      width: 85%;
      padding: 5px;
      outline: none;
      }
      
      .input-comment_field:focus {
        border: 2px solid dodgerblue;
      }
      #close_comment{
        color: black;
    font-size: 20px; 
    margin-top: -1%;
    margin-left:770%;
      }
      #close_comment:hover{
        color: rgb(255, 0, 0);
    
      }
      #comment_head{
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;
        
      }
    
      #all_comments h4{
        color: black;
        font-size: 13px;
        text-align: start;
        max-width: 391px;
        letter-spacing: normal;
        
         } 
         #all_comments h3{
        color: rgb(100, 98, 98);
        font-size: 12px;
        text-align: start;
        padding-left: 3px;
        letter-spacing: normal;
        
         } 
         #comment_user_icon{
            font-size: 15px;
            color: rgb(34, 192, 34);
         }
         #edit_icon_for_comment{
            color: black;
            font-size: 15px;
            display: flex;
            margin-left: 93%;
            
         }
         #delete_icon_for_comment{
            color: black;
            display: flex;
            font-size: 15px;
            margin-top: -4%;
            margin-left: 83%;
         }
         #comment_post_time{
          font-size:8.5px;
         }
         #like{
          margin-left: -2%;
          font-size: 13px;
          color: gray;
        }
         #like1{
          margin-left: -2%;
          font-size: 13px;
          color:blue;
        }
         #like1:hover{
          font-size: 14px;
          color:rgb(75, 75, 255);
        }
        #like:hover{
        font-size: 14px;
        color: rgb(43, 41, 41);
        }
        #dislike{
          font-size: 13px;
          margin-left: 5%;
          color: gray;
        }
        #dislike1{
          font-size: 13px;
          margin-left: 5%;
          color: blue;
        }
        #dislike1:hover{
          font-size: 14px;
          
          color: rgb(75, 75, 255);
        }
        #dislike:hover{
        font-size: 14px;
        color: rgb(43, 41, 41);
        }
        #report{
          font-size: 13px;
          margin-left: 55%;
          color: grey
        }
        #report1{
          font-size: 13px;
          margin-left: 55%;
          color: red;
        }
        
        #report:hover{
          font-size: 16px;
        color: rgb(43, 41, 41);
        }
        #report1:hover{
          font-size: 16px;
        color: rgb(255, 82, 82);
        }
        #total_likes{
        color: black;
        font-size: 10px;
        }
        #total_dislikes{
        color: black;
        font-size: 10px;
        }
        #lik-dis{
          margin-bottom: 1%;
          
        }
        #reports{
        color: black;
        font-size: 10px;
        }
        
}